.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: hsl(0, 0%, 97%);
}

.input {
  width: 80%;
  margin-inline: auto;
  padding: 5px;
  border: 1px solid hsl(10, 0%, 80%);
  border-radius: 4px;
  font-size: 1em;
  color: hsl(0, 0%, 97%);
}
